body{
margin: 0;
}
.lottery-container {
  background: linear-gradient(to right, #0f0f0f, #1a1a1a);
  color: white;
  font-family: "Tektur",  sans-serif;
  padding: 20px;
  text-align: center;
  min-height: 90vh;
}
.jack{
  font-size: 38px;
}
.navbar {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.connect-wallet, .buy-ticket {
  background: linear-gradient(to right, #0f9b0f, #00ff00);
  color: white;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 25px;
  transition: 0.3s;
}

.connect-wallet:hover, .buy-ticket:hover {
  background: linear-gradient(to right, #00ff00, #0f9b0f);
  transform: scale(1.05);
}

.jackpot, .draws, .winners {
  margin: 20px auto;
  padding: 20px;
  background: rgba(0, 255, 0, 0.1);
  border-radius: 15px;
  width: 80%;
  box-shadow: 0px 0px 10px rgba(0, 255, 0, 0.5);
}

.highlight {
  color: yellow;
  font-weight: bold;
}

.winner {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.txn-link {
  color: #00ff00;
  text-decoration: none;
  transition: 0.3s;
}

.txn-link:hover {
  text-decoration: underline;
  color: #66ff66;
}